<% provide :page_title, "Новая турбаза" %>

<head>
  <h1>Новая турбаза</h1>

  <script src="https://code.jquery.com/jquery-3.7.0.js"
  integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
  crossorigin="anonymous"></script>

  <script>
    $(document).ready(function() {

    loadCountries();
 
    $('#turbasa_country_id').on('change', function(){
      var countrySelect = $(this).val();
      console.log(countrySelect);
      if (countrySelect) {
        loadRegions(countrySelect);
        loadTowns2(countrySelect);
      }
      else {
        $('#turbasa_region_id').empty();
        $('#turbasa_town_id').empty();
      }
    });

    $('#turbasa_region_id').on('change', function(){
      var regionSelect = $(this).val();
      console.log(regionSelect);
      if (regionSelect) {
        loadTowns1(regionSelect);
      }
      else {
        $('#turbasa_town_id').empty();
      }
    });
    
    $('#turbasa_town_id').on('change', function(){
      var townSelect = $(this).val();
      console.log(townSelect);
      
      });
    });

    function loadCountries() {
      $.ajax({
        url: '/countrieslist', 
        dataType: 'json',
        success: function(data) {
          $('#turbasa_country_id').empty();
          
          $('#turbasa_country_id').append('<option value="">Выберите страну</option>');
          
          $.each(data, function(index, country) {
            $('#turbasa_country_id').append('<option value="' + country.id + '">' + country.name + '</option>');
          });
        }
      });
    }

    function loadRegions(country_id) {
      $.ajax({
        url: '/regionslist', 
        dataType: 'json',
        data: { country_id: country_id },
        success: function(data) {
          $('#turbasa_region_id').empty();
          $('#turbasa_region_id').append('<option value="">Выберите регион</option>');
          $.each(data, function(index, region) {
          $('#turbasa_region_id').append('<option value="' + region.id + '">' + region.name + '</option>');
          });
        }
      });
    }

    function loadTowns1(region_id) {
      $.ajax({
        url: '/townslist', 
        dataType: 'json',
        data: { region_id: region_id },
        success: function(data) {
          $('#turbasa_town_id').empty();
          if ($('#turbasa_town_id option').length === 0) {
            $('#turbasa_town_id').append('<option value="">Выберите город</option>');
          }
          $.each(data, function(index, town) {
            $('#turbasa_town_id').append('<option value="' + town.id + '">' + town.name + '</option>');
          });
        }
      });
    }

    function loadTowns2(country_id) {
      $.ajax({
        url: '/townslist', 
        dataType: 'json',
        data: { country_id: country_id },
        success: function(data) {
          $('#turbasa_town_id').empty();
          if ($('#turbasa_town_id option').length === 0) {
            $('#turbasa_town_id').append('<option value="">Выберите город</option>');
          }
          $.each(data, function(index, town) {
            $('#turbasa_town_id').append('<option value="' + town.id + '">' + town.name + '</option>');
          });
        }
      });
    }

    $('#form').submit(function(e) {
      e.preventDefault();
      var countrySelect = $('#turbasa_country_id').val();
      var regionSelect = $('#turbasa_region_id').val();
      var townSelect = $('#turbasa_town_id').val();

      console.log('Страна:', countrySelect);
      console.log('Регион:', regionSelect);
      console.log('Город:', townSelect);

      $.ajax({
        url: '/turbasa/create', 
        type: 'POST',
        dataType: 'json',
        data: { country: countrySelect, region: regionSelect, town: townSelect },
        success: function(response) {
          alert('Значения сохранены!');
        }
      });
    });
  </script>
</head>

<%= render "form", turbasa: @turbasa %>

<br>

<div>
  <%= link_to "Назад", turbasas_path %>
</div>
