<tr id="country_row_<%= country.id %>">
  <td><%= country.name %></td>
  <td>
    <div class="container">
    <div class="row">
      <div class="col-auto">
        <%= link_to "Редактировать", edit_country_path(country), class: "btn btn-success" %>
      </div>

      <div class="col-auto">
         <%= button_to "Удалить", country, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
  </td>
</tr>