<% provide :page_title, "Страны" %>
<% currently_at "Страны" %>

<p style="color: green"><%= notice %></p>

<h1 style="margin-bottom: 30px;">Страны</h1>

<div class="container" style="margin-bottom: 30px;">
  <div class="row">
    <div class="col-sm-9">
      <%= link_to "Добавить запись", new_country_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<table class="table tabel-bordered">
  <thead>
    <tr>
      <th>Название</th>
    </tr>
  </thead>
  <tbody>
    <% @countries.each do |country| %>
      <%= render "country", country: country %>
    <% end %>
  </tbody>
</table>
