<% provide :page_title, "Страны" %>
<% currently_at "Страны" %>

<p style="color: green"><%= notice %></p>

<h1 style="margin-bottom: 30px;">Страны</h1>

<div class="container" style="margin-bottom: 30px;">
  <div class="row">
    <div class="col-sm-9">
      <%= link_to "Добавить запись", new_country_path, class: "btn btn-primary", style: "border: 3px solid #4E15B2; border-radius: 13px"%>
    </div>
  </div>
</div>

<table class="table tabel-bordered">
  <thead>
    <tr>
      <th>Название</th>
    </tr>
  </thead>
  <tbody>
    <% @countries.each do |country| %>
      <%= render "country", country: country %>
    <% end %>
  </tbody>
</table>

<head>
  <style>
    .btn.btn-primary:hover {
    background-color: #4E15B2;
    }

    .btn-primary {
      background-color: #5D19D2;
    }
  </style>
</head>