<% provide :page_title, "Регионы" %>
<% currently_at "Регионы" %>

<p style="color: green"><%= notice %></p>

<h1>Регионы</h1>

<table class="table tabel-bordered">
  <thead>
    <tr>
      <th>Название</th>
      <th>Страна</th>
    </tr>
  </thead>
  <tbody>
    <% @regions.each do |region| %>
      <%= render "region", region: region %>
    <% end %>
  </tbody>
</table>



<%= link_to "Добавить регион", new_region_path %>