<p style="color: green"><%= notice %></p>

<h1>Hostels</h1>

<div id="hostels">
  <% @hostels.each do |hostel| %>
    <%= render hostel %>
    <p>
      <%= link_to "Show this hostel", hostel %>
    </p>
  <% end %>
</div>

<%= link_to "New hostel", new_hostel_path %>
